<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Hoja de vida</title>
		<link href="/assets/welcome.scss" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<div id="container">
			<!--CONTAINER-->
			<div id="slide">
				<!--foto-->
				
				<!--<div id="banner">
                <img src="/assets/foto.jpg" width="200" height="300" border="0" style="text-align:center"/>
				</div>-->
				
				<div class="clear"></div>
				<form class="cmxform" id="signupForm" name="signupForm">
					<input type="hidden" name="a" value="insForm" />
					
					<div id="formulario">
						<!--FORMULARIO-->
						
						<div id="content_form">
							<!--CONTENT FORM-->
							<div id="form_left">
		
								<h1>Datos personales</h1>

								<div>
									<div class="text">
										Nombres: Alejandro
									</div>
								</div>

								<div>
									<div class="text">
										Apellidos: Alfonso
									</div>
								</div>

								<div>
									<div class="text">
										Documento: 123456789
									</div>
								</div>

								<div>
									<div class="text">
										Fecha nacimiento: 12/12/1985
									</div>
								</div>

								<div>
									<div class="text">
										Teléfono fijo:
									</div>
								</div>

								<div>
									<div class="text">
										Celular: (321) 321-4567
									</div>
								</div>

								<div>
									<div class="text">
										Correo electrónico: asd@asd.com
									</div>
								</div>

								<div>
									<div class="text">
										Ciudad: Bogotá
									</div>
								</div>

						</div><!--FIN CONTENT FORM -->

					</div><!--FIN FORMULARIO -->
				</form>

			</div><!--FIN SLIDE-->
			<div class="clear"></div>
		</div><!--FIN CONTAINER-->

		<div id="footer">
			<!--<div id="bg_footer">-->
			<div id="content_footer">
				<div class="bg-footer-left"></div>
				<div class="bg-footer-right"></div>
			</div>

			<!--</div>-->
		</div>

	</body>
</html>
